{% extends 'base.html' %}

{% block head %}
<title>BackupBox Fragen</title>
{% endblock %}

{% block body %}
<div class="content">
    <script>

    </script>
    <h1 style="text-align: center">BackupBox Fragen für</h1>
    <h1 style="text-align: center; color: #ff7800;">{{vorname}} {{name}}</h1>
    <br>
    <hr>
    <div class="form">
        <form action="/backupbox_antworten/{{user_hash}}" method="POST">
            <br>
            {% for key, frage in fragen.items() %}
                <h3>{{key}}. {{frage.frage}}</h3>
                <br>
                <input type="radio" id="{{key}}_{{frage.A}}" name="{{key}}" value="{{frage.A}}">
                <label for="{{key}}_{{frage.A}}">{{frage.A}}</label>
                <br>
                <input type="radio" id="{{key}}_{{frage.B}}" name="{{key}}" value="{{frage.B}}">
                <label for="{{key}}_{{frage.B}}">{{frage.B}}</label>
                <br>
                <input type="radio" id="{{key}}_{{frage.C}}" name="{{key}}" value="{{frage.C}}">
                <label for="{{key}}_{{frage.C}}">{{frage.C}}</label>
                <br>
                <input type="radio" id="{{key}}_freitext" name="{{key}}" value="">Freitext: <input type="text" name="{{key}}_freitext" />
                <label for="{{key}}_freitext"></label>
                <br>
                <br>
                <br>
                <hr>
                <br>
            {% endfor %}
            <br>
            <input type="submit" value="Abschicken">
        </form>
    </div>
</div>
{% endblock %}