{% extends 'base.html' %}

{% block head %}
<title></title>

<script type="text/javascript">

    var nav_id = "{{ nav_id }}";
    
    window.onload = (event) => {
        document.getElementById(nav_id).style.display = "block";

        var today = new Date().toISOString().slice(0, 10)
        document.getElementById("event_date").min = today;
    };

</script>

<script type="text/javascript" src="static/js/main.js"></script>

{% endblock %}

{% block body %}
<header>
    <nav id="nav">
        <a class="nav_link" id="nav_home" href="/?nav=home">home</a>
        <a class="nav_link" id="nav_about" href="/?nav=about">about me</a>
        <a class="nav_link" id="nav_portfolio" href="/?nav=portfolio">portfolio</a>
        <a class="nav_link" id="nav_opinion" href="/?nav=opinion">opinion</a>
        <a class="nav_link" id="nav_gruppe_foti" href="/?nav=gruppe_foti">gruppe-foti</a>
        <a class="nav_link" id="nav_gruppe_timer" href="/?nav=gruppe_timer">gruppe-timer</a>
        <a class="nav_link" id="nav_tasks" href="/?nav=tasks">tasks</a>
        <a class="nav_link" id="nav_backupbox_fragen" href="/?nav=backupbox_fragen">tasks</a>
    </nav>
</header>

<main>
    <section id="home">
        <div class="home_logo">
            <img src="{{ url_for('static', filename='img/logo_LB_white.svg') }}" alt="LB Logo" />
        </div>
        <div>
            <h4>Page views: {{page_view_counter}}</h4>
        </div>
    </section>

    <section id="about"> <!-- about -->
        <h2>Contact me via any given channel</h2>
        <p>I will respond fastes via Email</p>
        <p>PGP Public Key<label for="lazy">1</label><input type="checkbox" id="lazy"><small>-----BEGIN PGP PUBLIC KEY BLOCK-----

mQENBGLxCpgBCADRbQ8omcbYgcZO2mAXIbCeNEQmsJU1l6wQfmzAfl3q+/nUGSmh
PUjx7Ww/klUleYuI+Fq6ojRYSs/sMk/u2tZ5a329joQtFGlgp1jmcq2E6JwCiSil
Ilw5o4HRUN96mGdQaKQILPEmVXAcvGlDEYUF4tauTfn2k9uqwCmvWGYguTpOimSR
p8wmG9PfxgD+4MTyRfNEkxpo7FwD36i9Y4UOo/P9j6ypTkyn95SaPNfhYfNr7/Wy
02SDBUb069TUdNLQJxstYz0eCJAnQIhHkjfbgDfcWA8ttZ1qXaUKZiC9bK6H3BxO
oKVeR/3uVunWKbz3dACnVfcKOiaxa3GIxF8LABEBAAG0JExlcm95IEJvbnZlbnRy
ZSA8bGVyb3lAYm9udmVudHJlLmNoPokBTgQTAQoAOBYhBM/5+4DsPmD4B5Sq4sjY
womk628tBQJi8QqYAhsDBQsJCAcCBhUKCQgLAgQWAgMBAh4BAheAAAoJEMjYwomk
628trrkH/jwHMgbze4UvIR22xSHPixBq3B91ZPpyFNU6jYxd4CBTHJ1j9xYtL46i
hNFldtNqwgerppIdrYF/MoDmYK+fHq/gVdidek2dbRgRPy6kg3GxowZC5MnVyV/G
VTW5fS+jyo7dWsBZ7IKM7UjxOxMntGP6Cw6wf2CtrZPgsQe/5NiygYZG3G8srVRy
/tkbOxcjqjFyU22cmC3KREEEnMzwZoAiYOHKhYCUKGemcry04oAo98Hf+tapd/ne
H2SCAyLXiLg4/5bXCK3asbb9KBx/xiNm2KrfO0BA/OwoxeE3pXbvaQRj0wHna4wl
9VNA3m86HZqx6K4zNYmFGZ7rjt1GOKC5AQ0EYvEKmAEIAKhcBSuuK2Y8d0vnntQX
gtblCIZmSgmr+ROYuHO0C6eoIUZCb3QI/wDOWWkGEOZjUK+MXi3U17uEFGCF7e1X
0k4UBSlhMUHublQqBexdoHxGCZ8Llx9qi2REwPGrYhQxqlpfuP8R7gKmJv+O/X42
zFKQzWyMhELZ8LRRZIgWu9Ruc6ifEnE2mHgB4zngmNBNc8bMtcEf/QfMYU7ycS2a
0NiFDgmMuvM+v8gGECybZdJRrgpXpEjSdjS+wT2dOSg4qIIQRZDm/A+lt31kcIZR
dBInGVZR2RCWJajiMgH/mkYIJpOhtDyQMd/PbDSyQSfJLZaJmUsWv2Y50ltnHZ0q
4U8AEQEAAYkBNgQYAQoAIBYhBM/5+4DsPmD4B5Sq4sjYwomk628tBQJi8QqYAhsM
AAoJEMjYwomk628tCM0H/2TBbf2hm18jNjTR/fT9Ft1LL0EAlcLl2NsCnYPcCSu2
vwYnaAbUFsOgdD0m9+N+GAK6tD3BVxiSMfnY3/Rv8O4Asd9KQcCl4+KMycIijeE+
BaSP2T7u32A9pNZoKkcpZf+mQB7bMeemAVOahxAWYVF/MHDfECpfuKMduC85oFCW
f/ldSoTqMvyn8Min0XH1f/nNS9VrM8MdjAn3+M6qPgffLdNQVKw/LaxCUQ1GwLJc
kkYSIqbG0skyelc2Q0h9eOKr8sS+qP/PoXHcq6T1jWMwaEbMCWgdVVhP06u+x1Wj
qHSwCzubj/MNNYItKQGrNXeIzV1eJXdefKsNbkLsUS8=
=FkYk
-----END PGP PUBLIC KEY BLOCK-----</small></p>
        <article>
            <h2><a href="mailto:leroy@bonventre.ch">leroy@bonventre.ch</a></h2>
            <h2><a href="https://matrix.to/#/@leroy_bonventre:matrix.org">Matrix</a></h2>
        </article>
        <p><a href="/">← back</a></p>
    </section>

    <section id="portfolio"> <!-- portfolio -->
        <article>
            <h2>Technologies I've used the most</h2>
            <p>Python, JavaScript, HTML/CSS, Git, PHP, SQL, GNU/Linux System Administrator</p>
        </article>
        <article>
            <h2>Technologies I've used more than a bit</h2>
            <p>Java, C++, Obj-C, Kdenlive, Swift, BASH, Scrum, Apache, Proxmox</p>
        </article>
        <article>
            <h2>Miscellaneous</h2>
            <p>C, Perl, Docker, KVM, PostreSQL, Elektro-Engineering, Hardware-Beschaffung</p>
        </article>
        <article>
            <h2>bonventre.ch (this site)</h2>
            <p>A webpage to host my tools, portfolio and opinions. Clean an simple one page with custom CSS</p>
            <p>To the source code <a target="blank" href="https://gitlab.com/bonventre_ch/bonventre_ch">Repository</a></p>
        </article>
        <article>
            <h2>readFaster</h2>
            <p>A webpage for reading text without moving your eyes.</p>
            <p>To the source code <a target="blank" href="https://gitlab.com/bonventre_ch/readFaster">Repository</a></p>
        </article>
        <article>
            <h2>notespliter</h2>
            <p>A tool to spilt and concurate notes cryptographically .</p>
            <p>To the source code <a target="blank" href="https://gitlab.com/bonventre_ch/notespliter">Repository</a></p>
        </article>        
        <p><a href="/">← back</a></p>
    </section>

    <section id="opinion"> <!-- opinion -->
        <article>
            <h2>Do one thing, and do that one thing good<time datetime="2022-11-27">27.11.2022</time></h2>
            <p>Programming is simple. Write down your must-haves, split them into easier to accomplish sub-tasks, write the comment describing the program-flow. That's it. Oh and write the code, but that part is easy, since you've done all of the above.</p>
        </article>
        <article>
            <h2>I won't like you, if you don't use a Password-Manager<time datetime="2022-01-08">08.01.2022</time></h2>
            <p>KeepassDX on Mobile and KeePassXC on Desktop</p>
        </article>
        <article>
            <h2>Why I dislike Bitcoin<time datetime="2022-01-08">08.01.2022</time></h2>
            <p>It was trying to be p2p e-cash.<label for="lazy-1">1</label><input type="checkbox" id="lazy-1"><small>As stated in the whitepaper title</small> But it lacks fungibility, isn't "one CPU = one Vote", and is therefor not censorship resistant. Deflationary</p>
        </article>
        <p><a href="/">← back</a></p>
    </section>

    <section id="gruppe_foti">
        <h2>Fotos sammeln und herunterladen</h2>
        <p>Fotos eines Events von mehreren Personen sammeln und in original Qualität, sortiert herunterladen</p>
        <article>
            <form method="POST" enctype="multipart/form-data" action="/access_album">
                <h2>album</h2>
                <input class="login_input" type="text" name="album" placeholder="album name" required>
                <h2>token</h2>
                <input class="login_input" type="text" name="token" placeholder="zugangs token" required>
                <h2>dein name</h2>
                <input class="login_input" type="text" name="name" placeholder="deine fotos werden mit name markiert" required>
                <br>
                <br>
                <input type="submit" class="button button1" value="access">
            </form>
        </article>
        <p><a href="/">← back</a></p>
    </section>

    <section id="gruppe_timer">
        <h2>Timer für gemeinsame Events</h2>
        <p>Teile einen Countdown Timer für ein Event mit beteiligten Personen</p>
        <article>
            {% if timers|length < 1 %}
            <h4 style="text-align: center">Du hast noch keine Timer!</h4>
            {% else %}
             <hr>
            <div class="flex-container">
            {% for timer in timers %}
                <div class="flex-item">
                    <h2 style="color:#{{ timer.color_hex }}">{{ timer.name }}<br>{{ timer.remaining_days }} Tage</h2>
                    <!-- event date goes here -->
                    <button class="img_links" onclick="location.href='/access_timer/{{ timer.id }}'">Teilen</button>
                    <button class="img_links" onclick="location.href='/hide_timer/{{ timer.id }}'">Löschen</button>
                </div>
            {% endfor %}
            </div>
            <hr>
                
            
            {% endif %}
            <form method="POST" enctype="multipart/form-data" action="/create_timer">
                <h2>event name</h2>
                <input class="login_input" type="text" name="event_name" placeholder="event name" required>
                <h2>farbe</h2>
                <input class="login_input" type="text" name="event_hex" placeholder="farbe" value="#ffffff">
                <h2>datum</h2>
                <input class="login_input" type="date" id="event_date" name="event_date" min="" required pattern="\d{4}-\d{2}-\d{2}">
                <br>
                <br>
                <input type="submit" class="button button1" value="create">
            </form>
        </article>
        <p><a href="/">← back</a></p>
    </section>

    <section id="tasks">
        <h2>Tasks</h2>
        <article>
            {% if tasks|length < 1 %}
            <h4 style="text-align: center">Du hast noch keine Aufgaben! Füge unten eine hinzu.</h4>
            {% else %}
            <table>
                <tr>
                    <th>Task</th>
                    <th>Added</th>
                    <th>Actions</th>
                </tr>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.content }}</td>
                        <td>{{ task.date_created }}</td>
                        <td>
                            <a href="/task/delete/{{task.id}}">Delete</a>
                            <br>
                            <a href="/task/update/{{task.id}}">Update</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}

            <div class="form">
                <form action="/task/create" method="POST">
                    <h2>Aufagbe</h2>
                    <input class="login_input" type="text" name="content" placeholder="Aufgabentext" required>
                    <input type="submit" class="button button1" value="Aufgabe hinzufügen">
                </form>
            </div>
        </article>
        <p><a href="/">← back</a></p>
    </section>

</main>

{% endblock %}
