{% extends 'base.html' %}

{% block head %}
<title>{{ album_name }}</title>
<script type="text/javascript">
    function delete_img(file_to_delete) {
        let text = "Bild wirklich löschen?";
        if (confirm(text) == true) {
            location.href = "{{ url_for('delete_file', album_name=album_name, input_token=input_token, input_name=input_name, filename='') }}" + file_to_delete
        }
    }
    function myFunction(elem) {
        let c = elem.closest("div");
        const backgroundColor = c.style.backgroundColor;
        if (backgroundColor == "rgb(4, 137, 153)") {
            c.style.backgroundColor = "#ff7800";
        } else {
            c.style.backgroundColor = "#048999";
        }
        
    }

</script>
{% endblock %}

{% block body %}
<div class="content">
    <section id="home">
        <h1 class="album_titel">Update Album: {{ album_name }}</h1>
        <div class="form">
            <h2>Bilder hinzufügen</h2>
            <form method="POST" enctype="multipart/form-data" action="{{ url_for('upload_files', album_name=album_name, input_token=input_token, input_name=input_name) }}">
                <input type="file" name="files[]" multiple class="upload_button">
                <input type="text" hidden name="token" value="{{input_token}}">
                <input type="text" hidden name="album" value="{{album_name}}">
                <input type="text" hidden name="name" value="{{input_name}}">
                <input type="submit" class="button button1" value="Hochladen">
            </form>
            <hr>
            <div class="flex-container">
            {% for file in files %}
                <div class="flex-item">
                    <img src="{{ url_for('img_to_display', album_name=album_name, filename=file) }}">
                    <input type="checkbox" class="img_links img_checkbox" id="{{file}}" onclick="myFunction(this)">
                    <button class="img_links" onclick="delete_img('{{file}}')">Löschen</button>
                </div>
            {% endfor %}
            </div>
            <hr>
            <form method="POST" action="{{ url_for('download_files', album_name=album_name, input_token=input_token) }}">
                <input type="submit" class="button button1" value="alle Bilder downloaden">
                <input disabled type="submit" class="button button1" value="selektierte Bilder downloaden">
            </form>
        </div>
        <p><a href="/">← back</a></p>
    </section>

</div>
{% endblock %}